/* variables colores */
:root[data-theme="reset"] {
    --color-primario: #e6e6e6;
    --color-secundario: #b1b1b1;
    --color-terciario: #000000;
    --color-fondo-generico-transparencia: rgba(0, 0, 0, 0.9);
    --color-fondo-generico-transparencia-media: rgba(0, 0, 0, 0.5);
    --color-fondo-generico-solido: rgba(0, 0, 0, 1);
}

:root[data-theme="opcion1"] {
    --color-primario: #B400FF;
    --color-secundario: #00CAFF;
    --color-terciario: #000000;
    --color-fondo-generico-transparencia: rgba(0, 0, 0, 0.9);
    --color-fondo-generico-transparencia-media: rgba(0, 0, 0, 0.5);
    --color-fondo-generico-solido: rgba(0, 0, 0, 1);
}

:root[data-theme="opcion2"] {
    --color-primario: #d4fc79;
    --color-secundario: #96e6a1;
    --color-terciario: #000000;
    --color-fondo-generico-transparencia: rgba(0, 0, 0, 0.9);
    --color-fondo-generico-transparencia-media: rgba(0, 0, 0, 0.5);
    --color-fondo-generico-solido: rgba(0, 0, 0, 1);
}

:root[data-theme="opcion3"] {
    --color-primario: #2800FF;
    --color-secundario: #00FFA7;
    --color-terciario: #000000;
    --color-fondo-generico-transparencia: rgba(0, 0, 0, 0.9);
    --color-fondo-generico-transparencia-media: rgba(0, 0, 0, 0.5);
    --color-fondo-generico-solido: rgba(0, 0, 0, 1);
}