/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
}

div.fondo-con-umi {
  width: 100%;
  height: 100%;
  background-image: url('../imagenes/umi-fondo-small.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 1rem;
}

div.ventana-terminal {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 1rem .7rem;
  color: white;
  border: 2px solid white;
  box-shadow: 0 0 10px 2px black;
  overflow-y: auto;
}

span.cabezal {
  color: white;
  margin-right: 1rem;
  background: #00ff004f;
  padding: .2rem .4rem;
  border-radius: .4rem;
}

div.ventana-terminal p {
  margin-bottom: 1rem;
}

a {
  color: #00ff00;
  text-decoration: underline;
}

a:hover {
  color: #00bf00;
}

a:visited {
  color: #00ff00;
}

span.blinking-cursor {
  animation: blink 1s step-start 0s infinite;
  border-right: 2px solid white;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

input.input-terminal {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}
