header {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    align-items: center;
    justify-content: flex-end;
}

header>h1.titulo-principal {
    padding: 0;
    font-size: 2.2rem;
    margin: 0;
}

div.contenedor-boton-menu-derecho {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
}

div.contenedor-boton-menu-derecho>a.boton-menu {
    border: none;
    font-size: 2rem;
    letter-spacing: 1.6px;
    padding: .4rem 1rem;
    border-radius: 0 0 1rem 1rem;
    margin-left: -1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transform: rotate(90deg);
    text-decoration: none;
    background-color: var(--color-fondo-generico-transparencia);
}

.texto {
    padding: 1rem;
    background-color: var(--color-fondo-generico-transparencia);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 0 0 1rem 1rem;
    text-align: center;
}

img.foto-principal {
    max-height: 100%;
}

.controles-para-editar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
}

.btn-reset {
    color: var(--color-terciario);
}

.controles-para-editar .botones-controles {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 420px;
    align-items: center;
}

.controles-para-editar button {
    margin: .2rem 0;
    padding: .2rem;
    border: 6px solid white;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    border-radius: 3rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.controles-para-editar h3 {
    display: none;
}

.botones-controles>button.btn-opcion1 {
    background-color: #B400FF;
}

.botones-controles>button.btn-opcion2 {
    background-color: #d4fc79;
}

.botones-controles>button.btn-opcion3 {
    background-color: #2800FF;
}

.botones-controles>button.seleccionado {
    border: 6px solid #000000;
}

@media(min-width: 500px) {
    .texto {
        border-radius: 1rem;
    }
}

@media (min-width: 800px) {

    .controles-para-editar,
    .controles-para-editar .botones-controles {
        position: unset;
        top: unset;
        left: unset;
        height: unset;
        width: unset;
        display: unset;
        flex-direction: unset;
        justify-content: unset;
        align-items: unset;
        z-index: unset;
        padding: unset;
        border-radius: unset;
        box-shadow: unset;
        gap: unset;
        flex-wrap: unset;
        max-width: unset;
    }

    main {
        display: flex;
        justify-content: center;
        max-height: 100dvh;
    }

    header {
        padding: 2rem;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        max-height: 100dvh;
    }

    img.foto-principal {
        width: 50%;
    }

    nav.menu-principal ul.menu-redes {
        justify-content: center;
        gap: 2rem;
    }

    .controles-para-editar {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        padding: 1rem;
        z-index: 1000;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }

    .controles-para-editar .botones-controles {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        max-width: 420px;
        align-items: center;
    }

    .controles-para-editar button {
        margin: .2rem 0;
        padding: .2rem;
        border: 6px solid white;
        font-size: 1.2rem;
        letter-spacing: 1.2px;
        border-radius: 3rem;
        cursor: pointer;
        width: 40px;
        height: 40px;
    }

    .controles-para-editar h3 {
        display: block;
    }
}